body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #2d3e50;
    color: white;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
}

section {
    padding: 2em;
    max-width: 800px;
    margin: auto;
}

#about-me img {
    max-width: 200px;
    height: auto;
}

.project {
    margin-bottom: 1em;
}

.project img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #2d3e50;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
